SECRET_KEY=""
DEBUG=""
ALLOWED_HOSTS=""
RUNNING_IN_DOCKER=""
TIME_ZONE=""
SECURE_SSL_REDIRECT=""
SECURE_BROWSER_XSS_FILTER=""
SECURE_CONTENT_TYPE_NOSNIFF=""
X_FRAME_OPTIONS=""

#db
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=""
DATABASE_URL=""

#redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

#email
EMAIL_BACKEND=""
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USE_TLS=""
EMAIL_USE_SSL=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

#jwt
JWT_ACCESS_TOKEN_LIFETIME_HOURS=""
JWT_REFRESH_TOKEN_LIFETIME_DAYS=""

LOG_LEVEL=""
OTP_EXPIRY_MINUTES=""
OTP_MAX_ATTEMPTS=""
LOGIN_MAX_ATTEMPTS=""
OTP_LOCK_DURATION_MINUTES=""
LOGIN_LOCK_DURATION_MINUTES=""
PAGE_SIZE=""

#aws
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_STORAGE_BUCKET_NAME = ""