version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env 
    container_name: django_app
    working_dir: /app/main
    command: >
      sh -c "
      echo 'Waiting for PostgreSQL...' &&
      until nc -z db 5432; do sleep 1; done &&
      echo 'PostgreSQL started' &&
      echo 'Waiting for Redis...' &&
      until nc -z redis 6379; do sleep 1; done &&
      echo 'Redis started' &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      daphne -b 0.0.0.0 -p 8000 main.asgi:application
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

volumes:
  postgres_data: